.App {
  padding: 50px 10px 10px 10px;
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(46, 198, 240);
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
}

.navbarLink img {
  height: 40px;
  margin: auto 0px auto 4px
}